#include <windows.h>
#include "calcRes.h"
#define BTN_W 25
#define BTN_H 20
#define WIDTH 119
#define HEIGHT 128
#define PADDING 3
#define LVLH0 25
#define LVLH1 48
#define LVLH2 71
#define LVLH3 94
#define LVLW0 5
#define LVLW1 33
#define LVLW2 61
#define LVLW3 89
#define LVLW4 117
IDD_DLGTEST DIALOG DISCARDABLE 0, 0, WIDTH, HEIGHT
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Calculator"
FONT 12, "Segoe UI Variable Text"
BEGIN
 PUSHBUTTON "/", IDC_DIVIDE, LVLW3, HEIGHT - LVLH3, BTN_W, BTN_H
 PUSHBUTTON "*", IDC_MULTIPLY, LVLW3, HEIGHT - LVLH2, BTN_W, BTN_H
 PUSHBUTTON "-", IDC_MINUS, LVLW3, HEIGHT - LVLH1, BTN_W, BTN_H
 PUSHBUTTON "+", IDC_PLUS, LVLW3, HEIGHT - LVLH0, BTN_W, BTN_H
 PUSHBUTTON "C", IDC_CLEAR, LVLW0, HEIGHT - LVLH0, BTN_W, BTN_H
 PUSHBUTTON "0", IDC_NULL, LVLW1, HEIGHT - LVLH0, BTN_W, BTN_H
 DEFPUSHBUTTON "=", IDC_EQ, LVLW2, HEIGHT - LVLH0, BTN_W, BTN_H
 PUSHBUTTON "1", IDC_ONE, LVLW0, HEIGHT - LVLH1, BTN_W, BTN_H
 PUSHBUTTON "2", IDC_TWO, LVLW1, HEIGHT - LVLH1, BTN_W, BTN_H
 PUSHBUTTON "3", IDC_THREE, LVLW2, HEIGHT - LVLH1, BTN_W, BTN_H
 PUSHBUTTON "4", IDC_FOUR, LVLW0, HEIGHT - LVLH2, BTN_W, BTN_H
 PUSHBUTTON "5", IDC_FIVE, LVLW1, HEIGHT - LVLH2, BTN_W, BTN_H
 PUSHBUTTON "6", IDC_SIX, LVLW2, HEIGHT - LVLH2, BTN_W, BTN_H
 PUSHBUTTON "7", IDC_SEVEN, LVLW0, HEIGHT - LVLH3, BTN_W, BTN_H
 PUSHBUTTON "8", IDC_EIGHT, LVLW1, HEIGHT - LVLH3, BTN_W, BTN_H
 PUSHBUTTON "9", IDC_NINE, LVLW2, HEIGHT - LVLH3, BTN_W, BTN_H
 EDITTEXT IDC_BEFORE_NUM, LVLW0, 5, 109, 10, ES_AUTOHSCROLL | ES_RIGHT
 EDITTEXT IDC_NUM, LVLW0, 18, 109, 12, ES_AUTOHSCROLL | ES_RIGHT
END
