#include <windows.h>
#include "calcRes.h"
#define BTN_W 25
#define BTN_H 20
#define WIDTH 147
#define HEIGHT 146
#define PADDING 3
#define LVLH0 25
#define LVLH1 48
#define LVLH2 71
#define LVLH3 94
#define LVLH4 117
#define LVLH5 140
#define LVLH6 163
#define LVLW0 30
#define LVLW1 58
#define LVLW2 86
#define LVLW3 114
#define LVLW4 142
IDD_DLGTEST DIALOG DISCARDABLE 0, 0, WIDTH, HEIGHT
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Calculator"
FONT 11, "Segoe UI Variable Text"
BEGIN
 DEFPUSHBUTTON "=", IDC_EQ, WIDTH - LVLW0, HEIGHT - LVLH0, BTN_W, BTN_H
 PUSHBUTTON "/", IDC_DIVIDE, WIDTH - LVLW1, HEIGHT - LVLH3, BTN_W, BTN_H
 PUSHBUTTON "*", IDC_MULTIPLY, WIDTH - LVLW1, HEIGHT - LVLH2, BTN_W, BTN_H
 PUSHBUTTON "-", IDC_MINUS, WIDTH - LVLW1, HEIGHT - LVLH1, BTN_W, BTN_H
 PUSHBUTTON "+", IDC_PLUS, WIDTH - LVLW1, HEIGHT - LVLH0, BTN_W, BTN_H
 PUSHBUTTON "C", IDC_CLEAR, WIDTH - LVLW4, HEIGHT - LVLH0, BTN_W, BTN_H
 PUSHBUTTON "0", IDC_NULL, WIDTH - LVLW3, HEIGHT - LVLH0, BTN_W, BTN_H
 PUSHBUTTON "CE", IDC_CLEAR_LAST, WIDTH - LVLW2, HEIGHT - LVLH0, BTN_W, BTN_H
 PUSHBUTTON "1", IDC_ONE, WIDTH - LVLW4, HEIGHT - LVLH1, BTN_W, BTN_H
 PUSHBUTTON "2", IDC_TWO, WIDTH - LVLW3, HEIGHT - LVLH1, BTN_W, BTN_H
 PUSHBUTTON "3", IDC_THREE, WIDTH - LVLW2, HEIGHT - LVLH1, BTN_W, BTN_H
 PUSHBUTTON "4", IDC_FOUR, WIDTH - LVLW4, HEIGHT - LVLH2, BTN_W, BTN_H
 PUSHBUTTON "5", IDC_FIVE, WIDTH - LVLW3, HEIGHT - LVLH2, BTN_W, BTN_H
 PUSHBUTTON "6", IDC_SIX, WIDTH - LVLW2, HEIGHT - LVLH2, BTN_W, BTN_H
 PUSHBUTTON "7", IDC_SEVEN, WIDTH - LVLW4, HEIGHT - LVLH3, BTN_W, BTN_H
 PUSHBUTTON "8", IDC_EIGHT, WIDTH - LVLW3, HEIGHT - LVLH3, BTN_W, BTN_H
 PUSHBUTTON "9", IDC_NINE, WIDTH - LVLW2, HEIGHT - LVLH3, BTN_W, BTN_H
 EDITTEXT IDC_BEFORE_NUM, WIDTH - LVLW4, HEIGHT - LVLH5, 137, 15, ES_AUTOHSCROLL | ES_RIGHT | ES_READONLY
 EDITTEXT IDC_NUM, WIDTH - LVLW4, HEIGHT - LVLH4, 137, 15, ES_AUTOHSCROLL | ES_RIGHT
END
