#include <windows.h>
#include "clientRes.h"
IDD_DLGTEST DIALOG DISCARDABLE 0, 0, 155, 228
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION |
 WS_SYSMENU
CAPTION "Client dialog"
FONT 8, "SegoeUi Variable"
BEGIN
 EDITTEXT IDC_NAME, 5, 5, 145, 15, ES_AUTOHSCROLL
 EDITTEXT IDC_HISTORY, 5, 30, 145, 145, ES_AUTOHSCROLL | ES_READONLY
 EDITTEXT IDC_MESSAGE, 5, 180, 145, 15, ES_AUTOHSCROLL
 DEFPUSHBUTTON "SEND", ID_SEND, 5, 203, 50, 15
END
