#include <windows.h>
#include "clientRes.h"
IDD_DLGTEST DIALOG DISCARDABLE 0, 0, 155, 156
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION |
 WS_SYSMENU
CAPTION "Client dialog"
FONT 11, "Segoe UI Variable Text"
BEGIN
 EDITTEXT IDC_NAME, 5, 5, 145, 12, ES_AUTOHSCROLL
 EDITTEXT IDC_HISTORY, 5, 22, 145, 95, ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | ES_READONLY
 EDITTEXT IDC_MESSAGE, 5, 122, 145, 12, ES_AUTOHSCROLL
 DEFPUSHBUTTON "SEND", ID_SEND, 5, 139, 50, 12
END
