#include <windows.h>
#include "clientRes.h"
IDD_DLGTEST DIALOG DISCARDABLE 0, 0, 155, 206
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION |
 WS_SYSMENU
CAPTION "Client dialog"
FONT 10, "Segoe UI Variable Small"
BEGIN
 EDITTEXT IDC_NAME, 5, 5, 145, 12, ES_AUTOHSCROLL
 EDITTEXT IDC_HISTORY, 5, 22, 145, 145, ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | ES_READONLY
 EDITTEXT IDC_MESSAGE, 5, 172, 145, 12, ES_AUTOHSCROLL
 DEFPUSHBUTTON "SEND", ID_SEND, 5, 189, 50, 12
END
